{% extends 'home.html' %}
{% block title%} Movies {% endblock %}
{% block body %}

<div class="container">
<div class="form-wrapper">
    <form method="post" class="form">
     
      <h3 class="form-heading">Edit On {{movie.title}}</h3>

      <div class="form-group">
        <label for="name">Title</label>
        <p>{{movie.title}}</p>
        {{ form.title(class_ = 'form-control',placeholder='ex: Iron Man', autofocus = true) }}
      </div>
      
      <div class="form-group">
          <label for="age">Release Date</label>
          <p>{{movie.release_date}}</p>

          {{ form.release_date(class_ = 'form-control', placeholder='month-day-year', autofocus = true) }}
        </div>
      
      <div class="form-group">
          <label for="genres">Image Link</label>
          <p><a href="{{movie.image_url}}"><img src="{{movie.image_url}}" alt="movie photo" style="width: 50px;height: 50px;border-radius: 25px;"></a></p>
          {{ form.image_url(class_ = 'form-control', placeholder='http://', id=form.state, autofocus = true, default= movie.image_url) }}
        </div>
      
      
      <input type="submit" value="submit Changes" class="btn btn-primary btn-lg btn-block" style="width: 200px;">
    </form>
  </div>
</div>
{% endblock %}