{% extends 'home.html' %}
{% block title%} Movie {% endblock %}
{% block body %}

<div class="container">
<div class="form-wrapper">
    <form method="post" class="form">
      
      <h3 class="form-heading">List a New Movie</h3>
      

      <div class="form-group">
        <label for="name">Title</label>
        {{ form.title(class_ = 'form-control', autofocus = true) }}
      </div>
      
      <div class="form-group">
          <label for="age">Release Date</label>
          {{ form.release_date(class_ = 'form-control', placeholder='month-day-year', autofocus = true) }}
        </div>
      
      <div class="form-group">
          <label for="genres">Image Link</label>
          {{ form.image_url(class_ = 'form-control', placeholder='http://', id=form.state, autofocus = true) }}
        </div>
      
      
      <input type="submit" value="Create Movie" class="btn btn-primary btn-lg btn-block" style="width: 200px;">
    </form>
  </div>
</div>
{% endblock %}