{% extends 'home.html' %}
{% block title%} Actor {% endblock %}
{% block body %}

<div class="container">
    <div class="form-wrapper">
        <form method="post" class="form">
        <h3 class="form-heading">List a new Actor</h3>
        <div class="form-group" style="width: 400px;">
            <label for="name">Name</label>
            {{ form.name(class_ = 'form-control', autofocus = true,  placeholder='Name') }}
        </div>
        
        <div class="form-group" style="width: 100px;">
            <label for="age">Age</label>
            {{ form.age(class_ = 'form-control', autofocus = true) }}
            </div>
        
        <div class="form-group">
            <label for="genres">Image Link</label>
            {{ form.image_url(class_ = 'form-control', placeholder='http://', id=form.state, autofocus = true) }}
            </div>
        
        <div class="form-group">
            <label>Movie ID <i>(should be in the movies page)</i></label>
            
            <div class="form-group" style="width: 100px;">
                {{ form.movie(class_ = 'form-control', placeholder= 'ex: 12', autofocus = true) }}
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
            <label>Gender</label>
            
            <div class="form-group" style="list-style: none;">
                {{ form.gender }}
            </div>
            
        </div>
        
        <input type="submit" value="Create Actor" class="btn btn-primary btn-lg btn-block" style="width: 200px;margin-top: 20px;">
        </form>
    </div>
</div>
{% endblock %}